$color-bg: #000000;
$color-text: #FFFFFF;
$color-gray: #333333;
$color-label: #888;
$color-accent: #FFFFFF;
$color-danger: #ff3c00;
$color-seat-available: #2D2D2D;
$color-seat-selected: #FFFFFF;
$color-seat-booked: #555555;

$font-main: 'Roboto', sans-serif;